<p>Listado de Heroes work!</p>

<div *ngIf="deletedHero; else showMsgNoDeleted">
  <h3>
    Heroe borrado
    <small class="text-danger">
      {{ deletedHero }}
    </small>
  </h3>
</div>

<ng-template #showMsgNoDeleted>
  <h3 *ngIf="!deletedHero">No ha borrado nada</h3>
</ng-template>

<button *ngIf="heroesNames.length > 0" class="btn btn-outline-danger" (click)="removeLastHeroe()">
  Borrar last heroe
</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let heroe of heroesNames">
      {{ heroe }}
  </li>
</ul>
